======================================
NaviServer 4.99.6, released 2014-XX-XX
======================================

New Features:

Performance Improvements:

Bug Fixes:

Documentation improvements:

Tcl API Changes:

C API Changes:

Incompatible API Changes:

Configuration Changes:

Command Line Changes:

Code Changes: