name: Build
on: [push, workflow_dispatch]
jobs:
  naviserver:
    runs-on: ubuntu-latest
    env:
      CC: ${{ matrix.compiler }}
      TCLTAG: ${{ matrix.tcltag }}
      NSF_VERSION: ${{ matrix.nsf_version }}
      TDOM_VERSION: ${{ matrix.tdom_version }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: gcc-10
            tcltag: core-8-6-12
            nsf_version: 2.3.0
            tdom_version: 0.9.1
            
          - os: ubuntu-latest
            compiler: gcc-11
            tcltag: core-8-7-a5
            nsf_version: HEAD
            tdom_version: 0.9.3
            
    defaults:
      run:
        shell: bash
        
    steps:
      - name: Intro
        run: |
          echo GITHUB_REF=${GITHUB_REF} PWD=`pwd`
      - name: Install Linux dependencies (debugging)
        #if: ${{ env.ACT && startsWith(matrix.os, 'ubuntu') }}
        run: |
          add-apt-repository -y ppa:ubuntu-toolchain-r/test
          apt-get update
          apt-get install -y ${CC}
          git clone https://github.com/gustafn/install-ns.git
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: nm-wu/naviserver-mirror
          #token: ${{ secrets.PAT }}
      - name: Show what we have now
        run: |
          echo GITHUB_REF=${GITHUB_REF} PWD=`pwd`
          echo ls=`ls`
      - name: Compile all
        run: |
          version_ns=.. version_modules=GIT \
            version_tcl=${TCLTAG} \
            version_xotcl=${NSF_VERSION} \
            version_tdom=${TDOM_VERSION} \
            with_postgres=0 with_postgres_driver=1 with_ns_doc=0 \
            bash install-ns.sh build
        working-directory: install-ns
